USE [BD_SOLO_PRUEBAS]
GO
/****** Object:  User [MCB_PROSPERIDAD\MUB103547]    Script Date: 22/01/2026 10:42:37 ******/
CREATE USER [MCB_PROSPERIDAD\MUB103547] FOR LOGIN [MCB_PROSPERIDAD\MUB103547] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'MCB_PROSPERIDAD\MUB103547'
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[NombreCompleto] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Reason] [nvarchar](100) NOT NULL,
	[State] [nvarchar](20) NOT NULL,
	[Error] [nvarchar](4000) NULL,
	[TaskName] [nvarchar](100) NOT NULL,
	[StoredProc] [sysname] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionMenu] [nvarchar](200) NOT NULL,
	[Attach] [nvarchar](500) NULL,
	[RolesUsers] [nvarchar](500) NULL,
	[IdPadre] [int] NULL,
	[Iconos] [nvarchar](200) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sku] [nvarchar](40) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[CurrentPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 22/01/2026 10:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductSku] [nvarchar](40) NOT NULL,
	[DiscountPercent] [decimal](9, 4) NOT NULL,
	[StartUtc] [datetimeoffset](7) NOT NULL,
	[EndUtc] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251118220259_AddMenuTable', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251202203717_AddTable_Menu', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251202214815_IdentityTables', N'8.0.0')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'024029ea-dad4-490c-ba52-174306ac0c72', N'ADMIN', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'fd36ced3-bf15-44ef-a055-e003f1ce0a19', N'CONSULTA', N'CONSULTA', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f70cb66a-2ea6-400d-a291-5e50a5b33ea6', N'024029ea-dad4-490c-ba52-174306ac0c72')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaRegistro]) VALUES (1, N'Moises Edgardo', N'Barria', N'bmoises04@gmail.com', N'60905132', CAST(N'2025-12-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaRegistro]) VALUES (2, N'Matteo', N'Barria', N'bmoises04@gmail.com', N'60905132', CAST(N'2025-12-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaRegistro]) VALUES (7, N'avbel', N'vvvvvvvvv', N'bmoises04@gmail.com', N'5555555555', CAST(N'2026-01-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
INSERT [dbo].[Jobs] ([Id], [Created], [Reason], [State], [Error], [TaskName], [StoredProc]) VALUES (N'0930ee21-53bb-4764-8e90-02b510a862d2', CAST(N'2026-01-06T20:11:33.4326091+00:00' AS DateTimeOffset), N'Nightly', N'Pending', NULL, N'RecalculatePrices', N'dbo.sp_RecalculatePricesForValidPromotions')
INSERT [dbo].[Jobs] ([Id], [Created], [Reason], [State], [Error], [TaskName], [StoredProc]) VALUES (N'485b817d-23a3-4251-ba9e-948c40bea12d', CAST(N'2026-01-06T19:55:43.1662068+00:00' AS DateTimeOffset), N'Nightly', N'Completed', NULL, N'RecalculatePrices', N'dbo.sp_RecalculatePricesForValidPromotions')
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [DescripcionMenu], [Attach], [RolesUsers], [IdPadre], [Iconos]) VALUES (1, N'Administracion', N'', N'ADMIN', NULL, N'fa fa-cogs')
INSERT [dbo].[Menus] ([Id], [DescripcionMenu], [Attach], [RolesUsers], [IdPadre], [Iconos]) VALUES (2, N'Roles', N'/Roles/Index', N'ADMIN', 1, NULL)
INSERT [dbo].[Menus] ([Id], [DescripcionMenu], [Attach], [RolesUsers], [IdPadre], [Iconos]) VALUES (3, N'Usuarios', N'/UserRoles/Index', N'ADMIN', 1, NULL)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Sku], [Name], [BasePrice], [CurrentPrice]) VALUES (1004, N'SKU-0001', N'Leche 500g', CAST(206.00 AS Decimal(18, 2)), CAST(36.05 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Id], [Sku], [Name], [BasePrice], [CurrentPrice]) VALUES (1005, N'SKU-0002', N'Azúcar 1kg', CAST(185.00 AS Decimal(18, 2)), CAST(138.75 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Id], [Sku], [Name], [BasePrice], [CurrentPrice]) VALUES (1006, N'SKU-0003', N'Leche 250g', CAST(206.00 AS Decimal(18, 2)), CAST(164.80 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [ProductSku], [DiscountPercent], [StartUtc], [EndUtc]) VALUES (20, N'SKU-100', CAST(0.0150 AS Decimal(9, 4)), CAST(N'2025-12-31T20:05:15.0000000+00:00' AS DateTimeOffset), CAST(N'2026-01-30T20:05:15.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Promotions] ([Id], [ProductSku], [DiscountPercent], [StartUtc], [EndUtc]) VALUES (21, N'SKU-200', CAST(0.2000 AS Decimal(9, 4)), CAST(N'2026-01-01T20:05:15.0000000+00:00' AS DateTimeOffset), CAST(N'2026-01-31T20:05:15.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Promotions] ([Id], [ProductSku], [DiscountPercent], [StartUtc], [EndUtc]) VALUES (22, N'SKU-300', CAST(0.2250 AS Decimal(9, 4)), CAST(N'2026-01-02T20:05:15.0000000+00:00' AS DateTimeOffset), CAST(N'2026-02-01T20:05:15.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (N'RecalculatePrices') FOR [TaskName]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (N'dbo.sp_RecalculatePricesForValidPromotions') FOR [StoredProc]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Menus_IdPadre] FOREIGN KEY([IdPadre])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Menus_IdPadre]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Discount_Range] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(1)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Discount_Range]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Time_Range] CHECK  (([StartUtc]<=[EndUtc]))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Time_Range]
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarCliente]    Script Date: 22/01/2026 10:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[sp_AgregarCliente]
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(150),
    @Telefono NVARCHAR(50),
    @FechaRegistro DATE,
    @Resultado BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Clientes (Nombre, Apellido, Email, Telefono, FechaRegistro)
        VALUES (@Nombre, @Apellido, @Email, @Telefono, @FechaRegistro);

        -- Si llega aquí, fue exitoso
        SET @Resultado = 1;
    END TRY
    BEGIN CATCH
        -- Si ocurre error, marcamos como fallo
        SET @Resultado = 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarClientes]    Script Date: 22/01/2026 10:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ConsultarClientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Nombre,
        Apellido,
        Email,
        Telefono,
        FechaRegistro
    FROM Clientes
    ORDER BY Nombre;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_EditarCliente]    Script Date: 22/01/2026 10:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarCliente]
(
    @Id INT,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Email VARCHAR(150),
    @Telefono VARCHAR(50),
    @FechaRegistro DATE,
    @Resultado BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Clientes
    SET 
        Nombre = @Nombre,
        Apellido = @Apellido,
        Email = @Email,
        Telefono = @Telefono,
        FechaRegistro = @FechaRegistro
    WHERE Id = @Id;

    SET @Resultado = CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductosPaginado]    Script Date: 22/01/2026 10:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarProductosPaginado]
    @Start INT,
    @Length INT,
    @Search NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) TOTAL
    SELECT COUNT(*) 
    FROM Products;

    -- 2) FILTRADO
    SELECT COUNT(*)
    FROM Products
    WHERE 
        (@Search IS NULL OR @Search = '')
        OR (Sku LIKE '%' + @Search + '%'
        OR Name LIKE '%' + @Search + '%');

    -- 3) DATOS
    ;WITH ProductosPaginados AS 
    (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY Id) AS RowNum,
            Id,
            Sku,
            Name,
            BasePrice,
            CurrentPrice
        FROM Products
        WHERE 
            (@Search IS NULL OR @Search = '')
            OR (Sku LIKE '%' + @Search + '%'
            OR Name LIKE '%' + @Search + '%')
    )
    SELECT 
        Id,
        Sku,
        Name,
        BasePrice,
        CurrentPrice
    FROM ProductosPaginados
    WHERE RowNum BETWEEN (@Start + 1) AND (@Start + @Length)
    ORDER BY RowNum;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientePorId]    Script Date: 22/01/2026 10:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerClientePorId]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Nombre,
        Apellido,
        Email,
        Telefono,
        FechaRegistro
    FROM Clientes
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RecalculatePricesForValidPromotions]    Script Date: 22/01/2026 10:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RecalculatePricesForValidPromotions]
    @JobId             uniqueidentifier = NULL,
    @ProductsUpdated   int              OUTPUT,
    @PromotionsApplied int              OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NowUtc datetimeoffset(7) = SYSUTCDATETIME();

    /*
      Selecciona la mejor promo vigente por SKU.
      Criterio: mayor descuento; si hay empate, la de StartUtc más reciente.
      Usa ;WITH para evitar el error "Incorrect syntax near 'WITH'".
    */
    ;WITH BestPromo AS (
        SELECT
            pr.ProductSku,
            pr.DiscountPercent,
            ROW_NUMBER() OVER (
                PARTITION BY pr.ProductSku
                ORDER BY pr.DiscountPercent DESC, pr.StartUtc DESC
            ) AS rn
        FROM dbo.Promotions AS pr
        WHERE pr.StartUtc <= @NowUtc
          AND pr.EndUtc   >  @NowUtc      -- fin EXCLUSIVO (cambia a >= si prefieres inclusivo)
    )
    UPDATE p
        SET p.CurrentPrice = ROUND(p.BasePrice * (1 - bp.DiscountPercent), 2)
    FROM dbo.Products AS p
    INNER JOIN BestPromo AS bp
        ON bp.ProductSku = p.Sku
       AND bp.rn = 1;

    -- Cantidad de filas del UPDATE anterior (productos actualizados)
    SET @ProductsUpdated = @@ROWCOUNT;

    -- Cantidad de SKUs con alguna promoción vigente
    SELECT @PromotionsApplied = COUNT(DISTINCT pr.ProductSku)
    FROM dbo.Promotions AS pr
    WHERE pr.StartUtc <= @NowUtc
      AND pr.EndUtc   >  @NowUtc;
END
GO
