@using CapaData.Entities;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Productos";
}
<div class="card shadow-sm">
    <div class="card-header">Productos</div>
    <div class="card-body">
        <table id="tblProducts" class="table table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Precio Base</th>
                    <th>Precio Actual</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Sku</td>
                        <td>@p.Name</td>
                        <td>@p.BasePrice.ToString("C")</td>
                        <td>@p.CurrentPrice.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(function(){ $('#tblProducts').DataTable({ pageLength: 25 }); });
    </script>
}
